// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html,
body {
	overflow-x: hidden;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	color: $primary;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", sans-serif;
	// font-weight:600;
}

button {
	color: $primary;
	font-size: smaller;
}

a {
	color: $primary;
}

a:hover {
	color: #99d0ed;
}

h2 {
	font-size: 1.2rem;
}

.navbar-brand.custom-logo-link {
	padding: 0;
}

#main-nav {
	margin-bottom: 0px;
}

.homepage-banners {
	background: linear-gradient(180deg, $primary 50%, $secondary 50%);
	height: 640px;
	display: flex;
	padding-left: 1rem;
}

@media (min-width: 641px) {
	.homepage-banners {
		padding-left: 0;
	}
}

.wrapper {
	padding: 0;
}

#single-wrapper {
	min-height: 100vh;
	display: flex;
}

#single-wrapper>div {
	flex: 1;
}

.container-fluid {
	padding: 0;
}

.row {
	margin: 0;
	height: 100%;
}

.container-banners {
	margin: 0 auto;
	padding: 20px;
	display: grid;
	height: 100%;
	grid-gap: 1.5rem;
	grid-auto-flow: column;
	grid-auto-columns: minmax(280px, 1fr); //240
	overflow: auto;

	scroll-snap-type: x mandatory;
}

.mainMessage {
	padding-top: 15px;
	background-color: $primary;
}

.mainMessage>* {
	margin: 0;
	color: white;
	text-align: center;
}

.item {
	height: 600px;
	position: relative;
	scroll-snap-align: start;
	animation: 1.2s ease-out 0s 1 slideInFromLeft;
}

.bannerCardImage {
	height: 100%;
	background-size: cover;

	background-repeat: no-repeat;
	background-position: center center;
	transition: transform 0.1s ease-in;
	border-radius: 5px;
}

.bannerCardImage:hover {
	transform: scale(1.03);
}

.bannerCardText {
	color: white;
}

.homepage-help-bar {
	background-color: $secondary;
	position: relative;
}

.wrapper-help-button {
	display: flex;
	justify-content: center;
	align-items: center;
	// height: 137px;
}

.wrapper-help-button:hover {
	transform: scale(1.05);
}

.container-help {
	padding: 10px;
}

.help-button {
	border-radius: 30px;
	background-color: $primary;
	color: white;
	padding: 0 30px 0 30px;
	border: none;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.bannerCardContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	width: fit-content;
}

.bannerCardButton {
	border: none;
	padding: 10px;
	font-weight: bold;

	border-radius: 5px;
}

.bannerCardTag {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: $secondary;
	border-radius: 5px;
}

.banerTagText {
	margin: 0;
	padding: 4px;
	font-weight: bold;
	color: $primary;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

/* Shopping Cart in Header */
.shoppingCartHeader {
	position: relative;
	color: #777;
	text-decoration: none;
}

.shoppingCartHeader:hover {
	color: #99d0ed;
}

a.shoppingCartHeaderLink:hover {
	text-decoration: none;
}

.shoppingCartCount {
	background-color: $primary;
	color: $secondary;
	border-radius: 50%;
	padding: 4px 8px 4px 8px;
	position: relative;
	top: -15px;
	right: 15px;
	//   padding-left: 5px;
	//   padding-right: 5px;
	font-size: smaller;
	text-align: center;
}

.shoppingCartHeaderLink {
	text-decoration: none;
}

// Homepage About
// TODO: add to mobile :container-about -->taxt-align: left and margin-left: 30px

.homepage-about {
	margin-bottom: 10em;
}

.container-about {
	text-align: center;
	margin: auto;
	display: inline-block;
	margin-top: 30px;
	color: $primary;
}

.paragraph-about {
	display: inline-block;
	width: 50%;
}

//TODO: add flex-direction column for mobile

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $primary;
}

.flex-container>div {
	margin: 20px;
	text-align: center;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
	border-top: solid $primary;
	flex-basis: 30%;
}

.item-about {
	padding: 10px;
	transition: transform 0.2s;
}

.item-about:hover {
	background-color: $secondary;
	transform: scale(1.05);
}

.homepage-meet-reps {
	background-color: #6690b6;
	padding-top: 20px;
	padding-bottom: 20px;
}

.container-image-meet-reps {
	position: relative;
}

.list-meet-reps {
	list-style-type: none;
	position: absolute;
	top: 20%;
	left: 30%;
	font-weight: bold;
	font-size: 30px;
	line-height: 56px;
	color: white;
}

.list-meet-reps-item {
	background-color: $primary;
	padding: 5px;
	width: fit-content;
	margin-bottom: 0.5em;
}

.image-meet-reps {
	width: 40%;
	margin-left: 30px;
}

/* For gutenberg */
.col-md-12 {
	padding: 0;
}

.isceb-about-block {
	border-top: solid;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 15px;
	margin: 10px;
	transition: transform 0.2s;
}

.isceb-about-block:hover {
	background-color: $secondary;
	transform: scale(1.05);
}

.isceb-hor-text-bars-image {
	background-color: $primary;
	padding: 5px;
	width: fit-content;
	margin-bottom: 0.5em;
	position: relative;
	left: 100%;
	right: -20%;
}

#wrapper-footer-full {
	color: $secondary;
	background-color: $primary;

	margin-top: auto;
}

#wrapper-footer-full a {
	color: $secondary;
}

.site-footer {
	background-color: $primary;
}

#wrapper-footer {
	color: $secondary;
	background-color: $primary;
}

#wrapper-footer a {
	color: $secondary;
}

.MyAccountHeaderLink {
	margin-right: 1em;
}

.myAccountTextHeader {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}

/* Registration Page Custom Old */
.col {
	padding-left: 0;
}

.lastname {
	padding-right: 0;
}

.col-9 {
	padding-right: 0;
}

.errorMessageRegistration {
	text-align: center;
	color: red;
	margin-top: 1em;
}

.formPartTitle {
	text-align: center;
	margin-bottom: 1em;
}

.tab {
	display: none;
}

/* Registration page with plugin New */
.wrapperregistration {
	background: linear-gradient(180deg, $primary 50%, $secondary 50%);
	padding: 5px;

	width: 100%;
	height: 100%;
}

.wrapperregistration>.container {
	margin-bottom: 2em;
}

@media (min-width: 641px) {
	.wrapperregistration {
		position: fixed;
		padding-top: 10rem;
	}
}

/* wiki Upload Page*/

// .isceb-wiki-upload-input {
// 	// border: 1px solid #ced4da;
//     border-radius: .25rem;
// 	// background: linear-gradient(top, #f9f9f9, #e3e3e3);
// 	// border: 1px solid #999;
// 	border-radius: 3px;
// 	padding: 5px 8px;
// 	outline: none;
// 	white-space: nowrap;
// 	-webkit-user-select: none;
// 	cursor: pointer;
// 	text-shadow: 1px 1px #fff;
// 	font-weight: 700;
// 	font-size: 10pt;

// }

input[type="file"] {
	display: none;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 0.25rem;
	font-weight: 700;
	font-size: 10pt;
	color: $primary;
}

.li:before {
	content: ”\00a3″;
	font-family: “FontAwesome”;
	font-weight: normal;
}

.isceb-wiki-upload-submit {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

/*Wiki */

.isceb-wiki-home-header {
	background-color: $primary;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 10px 0 10px;
}

@media (min-width: 641px) {
	.isceb-wiki-home-header {
		background-color: $primary;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

#isceb-wiki-home-search-wrap {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	position: relative;
}

#isceb-wiki-home-search-wrap.isceb-nav-top {
	margin-top: 0;
	margin-bottom: 0;
}

.isceb-end-of-nav {
	margin-left: auto;
	margin-right: 20px;
}

#isceb-wiki-home-search-field {
	width: 250px;
	border-radius: 25px;
	border: 0;
	text-align: center;
	color: $primary;
	font-weight: bold;
	// line-height: 2rem;
	height: 38px;
	font-size: smaller;
}

@media (min-width: 641px) {
	#isceb-wiki-home-search-field {
		width: 400px;
		border-radius: 25px;
		border: 0;
		text-align: center;
		color: $primary;
		font-weight: bold;
		// line-height: 2rem;
		height: 38px;
	}
}

#isceb-wiki-home-search-field.isceb-nav-top {
	width: 250px;
	border: 1px solid $primary;
}

/*placeholder style on main wiki page */
#isceb-wiki-home-search-field::placeholder {
	text-align: center;
}

#isceb-wiki-home-search-field:focus::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: transparent;
}

#isceb-wiki-home-search-field:focus::-moz-placeholder {
	/* Firefox 19+ */
	color: transparent;
}

#isceb-wiki-home-search-field:focus::-ms-input-placeholder {
	/* IE 10+ */
	color: transparent;
}

#isceb-wiki-home-search-field:focus::-moz-placeholder {
	/* Firefox 18- */
	color: transparent;
}

/*End placeholder style on main wiki page*/

#isceb-wiki-home-search-field:focus {
	outline: none;
}

#isceb-wiki-home-search-button {
	border-radius: 25px;
	padding-left: 1rem;
	padding-right: 1rem;

	// position: relative;
	// left: -3rem;
	position: absolute;
	right: 0;
}

.isceb-nav-top-input {
	border: 1px solid #ced4da;
	/* border: springgreen; */
	border-radius: 0.25rem;
}

/* Mobile search nav button*/

.isceb-nav-top-button {
	text-align: inherit;
	vertical-align: inherit;
	padding: 0.1rem 0.3rem;
}

@media (min-width: 641px) {
	.isceb-nav-top-button {
		padding: 0.375rem 0.75rem;
	}
}

#isceb-wiki-home-search-button.isceb-nav-top {
	left: -45px;
	border: 1px solid $primary;
	position: relative;
}

#isceb-wiki-home-search-headerText {
	margin-top: 2rem;
	color: white;
}

.isceb-grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 10vh;
	margin-top: 5vh;
}

@media (min-width: 641px) {
	.isceb-grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, minmax(200px, 1fr));
		grid-column-gap: 5vw;
		grid-row-gap: 5vh;

		margin-left: 10vw;
		margin-right: 10vw;
		margin-bottom: 10vh;
		margin-top: 5vh;
	}

	#isceb-grid-item-upload {
		grid-column: 2;
	}
}

.isceb-grid-item {
	border-top: solid $primary;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	text-align: center;
	padding: 1rem;
	transition: transform 0.2s;

	height: 170px;
	margin-top: 20px;
	border-radius: 5px;
}

@media (min-width: 641px) {
	.isceb-grid-item {
		border-top: solid $primary;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
		text-align: center;
		padding: 1rem;
		transition: transform 0.2s;

		height: 170px;
	}
}

.isceb-grid-item:hover {
	transform: scale(1.05);
}

.isceb-grid-item-header {
	padding-top: 1rem;
}

#isceb-grid-item-upload {
	grid-column: 1;
}

@media (min-width: 641px) {
	#isceb-grid-item-upload {
		grid-column: 2;
	}
}

/* Styling of grid for phases*/
.isceb-phases-grid-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.isceb-phase-grid-item {
	border-top: solid $primary;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	text-align: center;
	padding: 1rem;
	// transition: transform 0.2s;
	margin: 20px;
	border-radius: 5px;
}

@media (min-width: 641px) {
	.isceb-phases-grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 0px;
	}

	.isceb-phase-grid-item {
		border-top: solid $primary;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
		text-align: center;
		padding: 1rem;
		transition: transform 0.2s;
		width: 170px;
		height: 100px;
		margin-top: 20px;
		border-radius: 5px;
	}

	.isceb-phase-grid-item:hover {
		transform: scale(1.05);
	}
}

.isceb-wiki-button-not-gb,
.isceb-wiki-login-button-not-gb {
	background-color: $primary;
	color: white;
	border: 2px solid $primary;
	border-radius: 28px;
	box-shadow: none;
	cursor: pointer;
	font-size: 18px;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: smaller;

	
}

@media (min-width: 641px) {
	.isceb-wiki-button-not-gb {
		margin-bottom: 0px;
	}
}

.isceb-wiki-button-not-gb:hover,
.isceb-wiki-login-button-not-gb:hover {
	background-color: $secondary;
	color: $primary;
	border: 2px solid $primary;
}

a.isceb-grid-item-url {
	color: inherit;
	text-decoration: none;
}

// ISCEB Wiki Navigation
#isceb-wiki-nav-container {
	padding-left: 34px;
	padding-right: 2rem;
}

#isceb-wiki-sidebar {
	background-color: white;
	padding-left: 0;
	padding-right: 0;

	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.isceb-wiki-courses-per-phase {
	list-style: none;
}

#isceb-wiki-nav-header-text {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#isceb-wiki-nav-header-text:hover {
	color: $secondary;
	text-decoration: none;
}

.isceb-nav-program-name {
	color: $primary;
	padding: 1.5rem;
}

.isceb-wiki-phase-nav-links>li>a {
	color: ivory;
}

a.isceb-wiki-nav-phase {
	text-decoration: none;
	font-weight: bold;
}

@media (min-width: 641px) {
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;
}

hr.isceb-wiki-nav-phase-line {
	margin-top: 0;
}

#isceb-wiki-nav-upload-btn {
	margin: 0 auto;
	display: block;
	border: none;
	margin: 0 auto 10px auto;
}

@media (min-width: 641px) {
	margin: 0 auto;
	display: block;
	border: none;
}

.fa-home {
	margin-right: 10px;
}

.isceb-nav-header {
	background-color: $primary;
	margin-right: 0;
	margin-left: 0;
	color: white;
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#isceb-wiki-nav-button-toggle {
	border-color: white;
}

@media (min-width: 768px) {
	.collapse.dont-collapse-sm {
		display: block;
		height: auto !important;
		visibility: visible;
	}

	#isceb-wiki-nav-button-toggle {
		display: none;
	}
}

.isceb-nav-container-sticky {
	position: sticky;
	top: 0;
}

@media only screen and (min-width: 768px) {
	.isceb-wiki-site-main {
		margin-left: 5rem;
	}

	.isceb-wiki-container {
		max-width: 60%;
	}
}

@media (min-width: 641px) {
	.isceb-wiki-site-main {
		margin-top: 2rem;
	}
}

.isceb-wiki-last-breadcrumb {
	text-decoration: underline;
	font-weight: bold;
	color: $primary;
}

.fa-rotate-270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

@media (min-width: 641px) {
	font-size: xx-large;
}

//ISCEB Wiki Files
.isceb-wiki-container {
	border: $primary;
}

.isceb-wiki-file {
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	border-radius: 5px;
	margin-bottom: 1rem;

	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.isceb-wiki-file:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.isceb-wiki-file-left-part {
	max-width: 250px;
	// background-color: #eaebed;
	background-color: $primary;
	padding: 15px;
}

.isceb-wiki-pdf {
	// width: 5rem;
	// height: 5rem;

	// margin-right: 1rem;

	// width: 50px;
	// margin-top: 10px;
	min-width: 50px;
}

.isceb-wiki-file-meta {
	padding: 10px;
	font-size: smaller;

	/*Needed for word-wrap*/
	min-width: 0;
}

.isceb-wiki-file-right-part {
	margin-left: auto;
	padding-right: 15px;

	display: flex;
	align-items: center;
}

// isceb-wiki-file-title
.isceb-wiki-filesize,
.isceb-wiki-ac-year {
	margin: 0;
	color: #a9a9a9;
}

#isceb-wiki-breadcrumb {
	margin-bottom: 30px;
	margin-top: 30px;
}

.isceb-wiki-file-title {
	margin: 0;
	font-weight: bold;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.fa-download {
	color: $primary;
}

.isceb-wiki-file-download>a {
	color: white;
}

.isceb-wiki-download-wrap {
	margin-left: auto;
}

// isceb-wiki-ac-year
// isceb-wiki-file-meta

/* Single styling */
.entry-title {
	font-weight: bold;
	font-size: 1.3rem;
}

@media (min-width: 641px) {
	font-weight: bold;
	font-size: xxx-large;
}

.single-main,
.page-main {
	margin-top: 2rem;
}

// Gutenberg styling

.isceb-homepage-about-block {
	margin: 0px 25px 25px 25px;
	background-color: aqua;
	padding: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-top: solid $primary;
	transition: transform 0.2s;
}

@media (min-width: 641px) {
	.isceb-homepage-about-block {
		margin: 0px 25px 0px 50px;
		padding: 20px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-top: solid $primary;
		transition: transform 0.2s;
	}

	.isceb-homepage-about-block:hover {
		-ms-transform: scale(1.5);
		/* IE 9 */
		-webkit-transform: scale(1.5);
		/* Safari 3-8 */
		transform: scale(1.1);
	}
}

.isceb-homepage-about-heading {
	margin: 40px 50px 0px 50px;
}

@media (min-width: 641px) {
	.isceb-homepage-about-heading {
		margin: 40px 50px 0px 50px;
	}

	.isceb-homepage-blue-separator {
		background-color: $secondary;
		height: 100px;
	}

	.isceb-homepage-meet-img {
		margin-left: 100px;
		width: 40%;
		min-height: 400px !important;
	}

	.isceb-homepage-meet-text {
		background-color: $primary;
		width: fit-content;
		padding: 5px;
		font-size: xx-large;
	}

	.isceb-homepage-meet-text-group {
		position: absolute;
		left: 400px;
		top: 100px;
		width: 400px;
	}

	.isceb-homepage-get-to-know-block {
		position: absolute;
		left: 120%;
		margin-right: 20px;
		top: 100px;

		width: 400px;
		text-align: right;
		color: $primary;
	}

	.isceb-homepage-more-button {
		position: absolute;
		right: 0;
	}
}

.wp-block-group__inner-container>h4 {
	font-size: large;
}

.isceb-homepage-meet-text {
	background-color: $primary;
	width: fit-content;
	padding: 5px;
}

.isceb-homepage-student-resources-block {
	margin: 0 50px 0 50px;
	padding-top: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
}

@media (min-width: 641px) {
	.isceb-homepage-student-resources-item {
		width: 247px;
	}
}

.isceb-homepage-student-resources-item {
	width: 247px;
	margin-top: 1rem;
}

.isceb-homepage-student-resources-heading {
	padding-bottom: 20px;
}

.isceb-homepage-faq-container {
	padding-top: 20px;
}

@media (min-width: 641px) {
	.isceb-homepage-student-resources-item {
		width: 247px;
	}
}

.isceb-homepage-faq-item {
	margin: 15px 15px 0 15px;
}

@media (min-width: 641px) {
	div>.uagb-faq-child__wrapper {
		width: 100%;
	}

	.isceb-homepage-faq-item {
		margin: 0 auto;
		width: 500px;
		display: flex;
		justify-content: center;
	}
}

/* Standard Signle page Template*/

.isceb-standard-page-container {
	margin: 0 10px auto 10px;

	display: flex;
	justify-content: start;
	flex-direction: column;
}

/* Custom guteberg avatar for standard page*/
.isceb-standard-page-author-img {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.isceb-standard-page-title-container {
	margin-bottom: 20px;
}

.isceb-standard-page-header {
	font-size: xx-large;
}

.isceb-standard-page-head-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	width: 50%;
	grid-row-gap: 0px;
	margin-top: 20px;

	// border-top: solid $primary;
}

@media (min-width: 641px) {
	.isceb-standard-page-head-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		width: 15%;
		grid-row-gap: 0px;
		margin-top: 20px;
	}
}

.isceb-standard-page-topic {
	// border-bottom: solid $primary;
	padding-bottom: 10px;
	color: grey;
	font-weight: normal;
}

/* Code for the head of standard page (topic, date) */
.isceb-standard-page-title-head {
	border-bottom: solid $primary;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0;
}

.isceb-standard-page-date {
	justify-content: flex-end;
	display: flex;
}

/* Event Card on Event Page*/
.isceb-event-post {
	background-color: $primary;
	color: white;
}

.isceb-event-post .entry-title {
	color: white;
}

.isceb-events-container {
	box-sizing: border-box;
	margin: 50px 20px 50px 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 100px;
	grid-row-gap: 50px;
}

/* Event redesign */
.isceb-event-card {
	// background-color: violet;
	height: auto;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	min-height: 340px;

	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.isceb-event-card:hover {
	box-shadow: rgba(31, 71, 107, 1) 0px 3px 8px;
}

.isceb-event-card:hover>.isceb-event-img-container {
	opacity: 1;
}

.isceb-event-card:hover .isceb-event-card-arrow {
	transform: translateX(4px);
}

.isceb-event-card-arrow {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.isceb-event-img-container {
	height: 150px;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
	overflow: hidden;

	opacity: 0.4;

	position: relative;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity, transform;
	transition-property: opacity, transform;
}

.isceb-event-message-box {
	background-color: $primary;
	color: white;
	width: 50%;
	position: absolute;
	right: 25%;
	top: 135px;
}

.isceb-event-message-box>h6 {
	text-align: center;
	margin: 4px 0 4px 0;
}

.isceb-event-title {
	display: flex;
	margin-top: 15px;
	margin-top: 10px;
	padding: 20px 20px 5px 20px;
	flex-direction: column;
}

.isceb-event-title>p {
	font-size: smaller;
}

.isceb-event-card-metadata {
	padding-left: 20px;
}

.isceb-event-card-date-time {
	display: flex;
}

.isceb-event-card-date {
	margin-right: 10px;
}

.isceb-event-card-order-button {
	background-color: $primary;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;

	position: absolute;
	width: 100%;
	bottom: 0;
}

.isceb-event-card-order-button>p {
	margin: 0;
	padding: 6px;
}

a.disabled:hover {
	cursor: not-allowed;
}

/*Event redesign desktop */
@media (min-width: 641px) {
	.isceb-events-container {
		width: 80%;
		grid-template-columns: repeat(3, 1fr);
		margin: 50px auto 50px auto;
	}

	.isceb-event-post .page {
		padding: 30px 0 30px 170px;
	}

	.isceb-standard-page-container {
		margin: 0;
	}

	.isceb-event-has-passed {
		margin: 30px 0 0 100px;
	}

	.isceb-event-has-passed>p {
		font-size: xxx-large;
	}
}

.isceb-event-has-passed {
	margin: 30px 0 0 70px;
}

.isceb-event-card-link:hover {
	text-decoration: none;
	color: $primary;
}

/* End event redesign */

/* 
  
  .u-flex-center {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
  } */

.subtle {
	color: $primary;
}

.card-media {
	margin: 5px;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
	margin-bottom: 25px;
	transition: all 300ms ease-out;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 200px;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

@media (min-width: 641px) {
	.card-media {
		margin-bottom: 15px;
	}
}

.card-media:hover {
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}

.card-media-object-container {
	background: none;
	float: left;
	height: 100%;
	position: relative;
}

.card-media-countdown-container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-media-object-tag-countdown-number {
	font-weight: bold;
	font-size: 60px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-media-object-tag-countdown-text {
	text-align: center;
	color: $primary;
	font-weight: bold;
	white-space: nowrap;
}

.card-media-object {
	background-position: center center;
	background-size: cover;
	height: 100%;
}

.card-media-object-tag {
	background-color: $primary;
	border-radius: 2px;
	padding: 2px 7px;
	position: absolute;
	right: 200px;
	width: 50%;
	height: 30%;
	top: 10px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.card-media-object-social-list {
	bottom: 4px;
	left: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 20;
}

.card-media-body {
	background-color: #fff;
	float: left;
	height: 100%;

	position: relative;
}

.card-media-body-top {
	display: block;
	background-color: $primary;
	color: $secondary;
	padding: 0.75rem;
}

.card-media-body-heading {
	display: block;
	margin-top: 10px;
}

.card-media-body-middle {
	left: 0;
	opacity: 1;
	padding: 1rem;

	transition: all 300ms ease-out;
	width: 100%;
}

.card-media-body-bottom {
	left: 0;
	opacity: 1;
	padding: 1rem 15px;
	transition: all 300ms ease-out;
	width: 100%;

	display: flex;
	justify-content: space-between;
}

/* 
  .card-media:hover .card-media-body-supporting-bottom {
	opacity: 0;
	transform: translateY(-8px);
  } */

.card-media-body-supporting-bottom-text {
	display: none;
}

@media (min-width: 641px) {
	.card-media-body-supporting-bottom-text {
		display: inline-block;
	}
}

/* 
  .card-media-body-supporting-bottom-reveal {
	opacity: 0;
	transform: translateY(8px);
	transition: all 300ms ease-out;
  }
  
  .card-media:hover .card-media-body-supporting-bottom-reveal {
	opacity: 1;
	transform: translateY(0);
  } */

.card-media-link {
	color: #41c1f2;
	text-decoration: none;
}

.card-media-body-bottom-text {
	text-decoration: underline;
}

.card-media-body-bottom-button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border: 1px;
	padding: 5px;
	background: #db504a;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

.isceb-card-media-title {
	margin-bottom: 1rem;
}

.isceb-event-body-top {
	font-size: x-large;
	color: white;
	margin: 0;
}

.card-event-meta {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #99d0ed45;
	font-weight: 500;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.fa-calendar-alt,
.fa-clock,
.fa-ticket-alt,
.fa-map-marker-alt,
.fa-user-alt {
	margin-right: 5px;
}

.fa-map-marker-alt {
	margin-right: 10px;
}

/*Event product page*/

.isceb-event-hero-banner-wrapper {
	height: 100%;
}

.isceb-event-hero-banner {
	height: 250px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.isceb-event-hero-banner-text {
	text-align: center;
	color: $primary;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
}

.isceb-event-detail-box-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	top: -34px;
}

@media (min-width: 641px) {
	.isceb-event-detail-box-container {
		flex-direction: row;
		margin-left: 200px;
		margin-right: 200px;
	}
}

.isceb-event-detail-box {
	background-color: $primary;
	color: white;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	width: 200px;
	height: 68px;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

@media (min-width: 641px) {
	.isceb-event-detail-box {
		padding-left: 10px;
	}
}

.isceb-event-detail-location-text {
	align-self: center;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.isceb-event-page-content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.isceb-event-page-description {
	margin: 10px 30px 10px 30px;
}

.isceb-event-ticket-header {
	background-color: $primary;
	border-radius: 10px;
	padding: 10px;
	font-weight: bolder;
	font-size: large;
}

.isceb-event-page-tickets-wrap {
	background-color: $secondary;
	color: white;
	border-radius: 10px;
	margin: 10px 30px 10px 30px;
	min-width: 200px;
}

.isceb-event-ticket-content {
	padding: 10px;
	color: $primary;
}

@media (min-width: 641px) {
	.isceb-event-page-content-wrap {
		flex-direction: row;
	}

	.isceb-event-page-description {
		width: 40%;
		margin-right: 30px;
	}
}

.isceb-event-ticket-price {
	color: $primary;
}

.isceb-event-ticket-content .woocommerce-Price-amount {
	color: $primary;
	font-weight: bold;
	text-decoration: underline;
}

.isceb-event-page-tickets-wrap button.button.alt {
	background-color: $primary;
	margin-left: 5px;
}

.isceb-event-page-tickets-wrap button.button.alt:hover {
	background-color: #1f476bb0;
}

.isceb-event-page-tickets-wrap .quantity {
	float: left;
}

.isceb-event-ticket-content .stock {
	color: #a9a9a9;
}

/* Styling of the search page*/
.isceb-search-article {
	// box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
	// 	rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;


	padding: 5px 20px 5px 20px;
	margin: 15px;

	border-top: 3px solid $primary;
	border-radius: 5px;

	box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
	transition: transform .2s;
}

.isceb-search-article:hover {
	transform: scale(1.03);
}

.isceb-search-results-main-title {
	margin: 80px 0 40px 0;
}

.isceb-entry-header {
	position: relative;
}

.isceb-search-result-topic {
	position: absolute;
	right: 0;
	top: 0;

	margin: 0;
	padding: 8px;
	font-weight: 700;
	color: $primary;
	background-color: $secondary;
	border-radius: 5px;
}

.isceb-search-article-href{
	text-decoration: none!important;
}

.isceb-search-entry-title{
	margin-bottom: 16px;
}