// Fix billing field wrapper
.woocommerce-input-wrapper {
	width: 100%;
}

// Woocommerce product gallery slider width fix
figure.woocommerce-product-gallery__wrapper {
	max-width: inherit !important;
}

// Fix coupon code input width
@media (min-width: 768px) {
	#coupon_code.input-text {
		width: 110px !important;
	}
}

/* Our code */



#woocommerce-wrapper {
	background-color: #d3ebf8;
}

.product {
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	padding: 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background: #1f476b;
}

//Interesting code to disable shop: https://njengah.com/woocommerce-temporarily-disable-checkout/#:~:text=Steps%20to%20Temporarily%20Disable%20Checkout&text=From%20the%20dashboard%20menu%2C%20click,file%20to%20Temporarily%20Disable%20Checkout

.wc_before_shop_load_widget_area {
	float: right;
	// margin: 0.1rem;
}

.woocommerce-Price-amount {
	color: #99d0ed;
}

.search-field {
	border: none;
}

/* Screen smaller than 641px?  */
@media (max-width: 641px) {
	.wc_before_shop_load_widget_area {
		margin-top: 10px;
	}
}

#woocommerce-wrapper {
	color: #1f476b;
}

.select2-selection__arrow {
	margin-top: 0;
}

.woocommerce .woocommerce-breadcrumb {
	color: #1f476b;
}

.woocommerce .woocommerce-result-count {
	margin-top: 16px;
	margin-left: 16px;
}

/* Product page */
.woocommerce div.product form.cart .button {
	background-color: #1f476b;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	width: 35%;
}

div.summary.entry-summary > p.price > span > bdi {
	color: #1f476b;
}

//For product that inlcude multiple products
.woocommerce-grouped-product-list-item__label > label > a {
	color: #1f476b;
}

.woocommerce-grouped-product-list-item__price > * {
	color: #1f476b;
}

/* Cart Page */
.entry-title {
	color: #1f476b;
}

.cart_totals > h2 {
	color: #1f476b;
}

.woocommerce table.shop_table {
	color: #1f476b;
}

.btn-primary {
	background-color: #1f476b;
	border: #1f476b;
	color: white;
}
.btn-primary:hover {
	background-color: #d3ebf8;
	color: #1f476b;
}

/* Checkout page */
.woocommerce-billing-fields > * {
	color: #1f476b;
}

.woocommerce-additional-fields > * {
	color: #1f476b;
}

/* Account Page */
.woocommerce-MyAccount-navigation {
	background-color: #d3ebf8;
	position: relative;
}

.woocommerce-MyAccount-navigation ul li a {
	color: #1f476b;
}

.woocommerce-MyAccount-navigation ul::before {
	content: " ";
	white-space: pre;
	border-right: 2px solid #1f476b;
	display: list-item;

}

.woocommerce-MyAccount-navigation ul::after {
	content: " ";
	white-space: pre;
	border-right: 2px solid #1f476b;
	display: list-item;

}

.woocommerce-MyAccount-navigation ul li {
	border-right: 2px solid #1f476b;
	border-top: 2px solid #1f476b;
	padding: 5px 5px 5px 15px;
}

.woocommerce-MyAccount-navigation ul li.is-active  {
	border-right: 2px solid #d3ebf8;;
}

.woocommerce-MyAccount-navigation ul {
	margin-bottom: 0;
	padding-left: 0px;
}

.woocommerce-MyAccount-navigation ul li:last-child {
	border-bottom: 2px solid #1f476b;
}


.woocommerce-MyAccount-navigation ul {
	list-style: none;
}


.woocommerce-account{
	background-color: #d3ebf8;
	color: #1f476b;
}


/* Header Account */
.fa-user-circle{
	color: #1f476b;
}


/* Shop */
.woocommerce-loop-product__title{
	color:#99d0ed;
}


.woocommerce a.added_to_cart{
	color:#99d0ed;
}

/* Checkout */
.showlogin, .showcoupon{
	text-decoration: underline;
}